.w-fit {
    width: fit-content;
}

body {
    background: rgb(67,64,125);
    background: linear-gradient(90deg, rgba(67,64,125,1) 0%, rgba(96,0,110,1) 100%, rgba(177,82,174,1) 100%);
}

.top-nav {
    background: #242449;
    border-bottom: 5px solid rgb(119, 53, 152);;
}

.address {
    background: #4545bc;
    display: flex;
    gap: 2px;
    align-items: center;
}

.nav-text {
    color: #d697ff;
}

.gradient-text {
    background: linear-gradient(90deg,
    hsl(277, 69%, 78%) 0%,
    hsl(254, 100%, 68%) 21%,
    hsl(305, 68%, 74%) 78%,
    hsla(280, 100%, 92%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.pink-white {
    color: #e9d5fb;
}

.create-campaign {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212529;
    color:white;
    border-radius:10px;
    padding: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.custom-table {
    background-color: #212529;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.control-panel {
    background-color: #3A3B61;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
}