.w-fit {
    width: fit-content;
}

body {
    background: rgb(67,64,125);
    background: linear-gradient(90deg, rgba(67,64,125,1) 0%, rgba(96,0,110,1) 100%, rgba(177,82,174,1) 100%);
}

.top-nav {
    background: #242449;
    border-bottom: 5px solid rgb(119, 53, 152);;
}

.address {
    background: #4545bc;
    display: flex;
    gap: 2px;
    align-items: center;
}
